eshell
elpa
backup
auto-save-list
.cache
transient
recentf*
.lsp-session*
workspace
.lsp-session-v1
eclipse.jdt.ls
.dap-breakpoints
projectile-bookmarks.eld
.local
eln-cache
projects
network-security.data
bookmarks
places